@layer utilities {
    [hidden] {
        display: none !important;
    }

    .u-display-block {
        display: block !important;
    }
    .u-display-inline-block {
        display: inline-block !important;
    }

    .u-inline-size-100 {
        inline-size: 100% !important;
    }
    .u-block-size-100 {
        block-size: 100% !important;
    }

    .u-hidden {
        display: none !important;
    }

    .u-overflow-x-auto {
        overflow-x: auto !important;
    }
    .u-overflow-y-auto {
        overflow-y: auto !important;
    }

    .u-position-relative {
        position: relative !important;
    }

    .u-grid-column-full {
        grid-column: 1 / -1 !important;
    }

    .u-border-none {
        border: none !important;
    }
    .u-border-radius-m {
        border-radius: 0.75rem !important;
    }
    .u-border-radius-circle {
        border-radius: 50% !important;
    }

    .u-border-block-start {
        border-block-start: 0.0625rem solid var(--color-border) !important;
    }
    .u-border-block-end {
        border-block-end: 0.0625rem solid var(--color-border) !important;
    }
    .u-border-inline-start {
        border-inline-start: 0.0625rem solid var(--color-border) !important;
    }
    .u-border-inline-end {
        border-inline-end: 0.0625rem solid var(--color-border) !important;
    }

    .u-text-decoration-none {
        text-decoration: none !important;
    }

    .u-visually-hidden {
        position: absolute !important;
        inline-size: 0.0625rem !important;
        block-size: 0.0625rem !important;
        padding: 0 !important;
        margin: -0.0625rem !important;
        overflow: hidden !important;
        clip: rect(0, 0, 0, 0) !important;
        white-space: nowrap !important;
        border: 0 !important;
    }
}
