@layer utilities {
    .u-display-block {
        display: block !important;
    }
    .u-display-inline-block {
        display: inline-block !important;
    }
    .u-width-100 {
        inline-size: 100% !important;
    }
    .u-height-100 {
        block-size: 100% !important;
    }
    .u-hidden {
        display: none !important;
    }
    .u-overflow-x-auto {
        overflow-x: auto !important;
    }
    .u-position-relative {
        position: relative !important;
    }
}
