@use '../1-settings/tokens' as *;

@layer utilities {
    .u-margin-none {
        margin: 0 !important;
    }

    .u-margin-inline-auto {
        margin-inline: auto !important;
    }

    .u-margin-inline-start-auto {
        margin-inline-start: auto !important;
    }

    .u-margin-inline-end-auto {
        margin-inline-end: auto !important;
    }

    .u-margin-block-none {
        margin-block: 0 !important;
    }

    .u-margin-inline-none {
        margin-inline: 0 !important;
    }

    .u-margin-block-start-none {
        margin-block-start: 0 !important;
    }

    .u-margin-block-end-none {
        margin-block-end: 0 !important;
    }

    .u-padding-none {
        padding: 0 !important;
    }

    .u-padding-block-start-none {
        padding-block-start: 0 !important;
    }

    .u-padding-block-end-none {
        padding-block-end: 0 !important;
    }

    /* Eine Schleife für alle Tokens! */
    @each $name, $value in $tokens-spacing {
        /* Margins */
        .u-margin-block-start-#{$name} {
            margin-block-start: #{$value} !important;
        }
        .u-margin-block-end-#{$name} {
            margin-block-end: #{$value} !important;
        }
        .u-margin-block-#{$name} {
            margin-block: #{$value} !important;
        }
        .u-margin-inline-start-#{$name} {
            margin-inline-start: #{$value} !important;
        }
        .u-margin-inline-end-#{$name} {
            margin-inline-end: #{$value} !important;
        }
        .u-margin-inline-#{$name} {
            margin-inline: #{$value} !important;
        }

        /* Paddings */
        .u-padding-around-#{$name} {
            padding: #{$value} !important;
        }
        .u-padding-block-#{$name} {
            padding-block: #{$value} !important;
        }
        .u-padding-inline-#{$name} {
            padding-inline: #{$value} !important;
        }
        .u-padding-block-start-#{$name} {
            padding-block-start: #{$value} !important;
        }
    }
}
