@layer generic {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    body {
        color: var(--color-text-main);
        font-family: var(--font-sans, 'Inter', -apple-system, sans-serif);
        background-color: var(--color-bg-light);
        line-height: 1.5;
        margin: 0;
    }
}
