<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".cache/phpunit"
         executionOrder="depends,defects"
         requireCoverageMetadata="false"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         failOnEmptyTestSuite="true"
         failOnRisky="true"
         failOnWarning="false"
         failOnNotice="false"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true">

    <php>
        <ini name="memory_limit" value="-1"/>
    </php>

    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">tests/Feature</directory>
        </testsuite>
    </testsuites>

    <source restrictNotices="true" restrictWarnings="true" ignoreIndirectDeprecations="true">
        <include>
            <!-- Unser Hauptcode -->
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory suffix=".php">src/Bootstrap</directory>
        </exclude>
    </source>

    <coverage>
        <report>
            <clover outputFile=".cache/phpunit/clover.xml" />
            <html outputDirectory=".build/reports/phpunit-html" lowUpperBound="50" highLowerBound="90" />
            <xml outputDirectory=".cache/phpunit/coverage-xml" />
        </report>
    </coverage>

    <logging>
        <junit outputFile=".cache/phpunit/junit.xml" />
    </logging>
</phpunit>
