@layer components {
    .c-accordion {
        margin-block-end: var(--space-s);
    }

    .c-accordion__summary {
        background-color: var(--color-bg-light);
        padding-block: var(--space-m);
        padding-inline: var(--space-m);
        border-radius: 0.75rem;
        cursor: pointer;
        border: 0.0625rem solid var(--color-border);
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: var(--shadow-sm);
        list-style: none;
    }

    .c-accordion__summary::-webkit-details-marker {
        display: none;
    }

    .c-accordion__title {
        font-size: 1.1rem;
        display: flex;
        align-items: center;
        gap: var(--space-s);
    }

    .c-accordion__meta {
        display: flex;
        gap: var(--space-m);
        align-items: center;
    }

    .c-accordion__body {
        background-color: color-mix(
            in oklch,
            var(--color-text-main) 2%,
            transparent
        );
        border: 0.0625rem solid var(--color-border);
        border-block-start: none;
        border-end-start-radius: 0.75rem;
        border-end-end-radius: 0.75rem;
        margin-block-start: calc(var(--space-xs) * -1);
        padding: var(--space-m);
    }
}
