@layer components {
    .c-accordion {
        margin-block-end: var(--space-s);
    }

    .c-accordion__summary {
        background-color: var(--color-bg-light);
        padding-block: var(--space-m);
        padding-inline: var(--space-m);
        border-radius: var(--radius-xxl);
        cursor: pointer;
        border: var(--border-s) solid var(--color-border);
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: var(--shadow-sm);
        list-style: none;
    }

    .c-accordion__summary::-webkit-details-marker {
        display: none;
    }

    .c-accordion__title {
        font-size: var(--text-lg);
        display: flex;
        align-items: center;
        gap: var(--space-s);
    }

    .c-accordion__meta {
        display: flex;
        gap: var(--space-m);
        align-items: center;
    }

    .c-accordion__body {
        background-color: color-mix(
            in oklch,
            var(--color-text-main) var(--mix-2),
            transparent
        );
        border: var(--border-s) solid var(--color-border);
        border-block-start: none;
        border-end-start-radius: var(--radius-xxl);
        border-end-end-radius: var(--radius-xxl);
        margin-block-start: calc(var(--space-xs) * -1);
        padding: var(--space-m);
    }
}
