@layer components {
    .c-alert {
        display: flex;
        gap: var(--space-m);
        align-items: center;
        justify-content: center;
        padding-block: var(--space-m);
        padding-inline: var(--space-l);
        margin-block-end: var(--space-xl);
        font-weight: var(--font-weight-medium);
        border: var(--border-s) solid transparent;
        border-radius: var(--radius-xxl);
        box-shadow: var(--shadow-sm);
    }

    .c-alert__content {
        inline-size: var(--size-full);
        line-height: var(--line-height-relaxed);
        text-align: start;
    }

    .c-alert--success {
        color: color-mix(
            in oklch,
            var(--color-success) var(--mix-40),
            var(--color-text-main)
        );
        background-color: var(--color-success-soft);
        border-color: color-mix(
            in oklch,
            var(--color-success) var(--mix-40),
            transparent
        );
    }

    .c-alert--danger {
        color: color-mix(
            in oklch,
            var(--color-danger) var(--mix-40),
            var(--color-text-main)
        );
        background-color: var(--color-danger-soft);
        border-color: color-mix(
            in oklch,
            var(--color-danger) var(--mix-40),
            transparent
        );
    }

    .c-alert--warning {
        color: color-mix(
            in oklch,
            var(--color-warning) var(--mix-40),
            var(--color-text-main)
        );
        background-color: var(--color-warning-soft);
        border-color: color-mix(
            in oklch,
            var(--color-warning) var(--mix-40),
            transparent
        );
    }

    .c-alert--info {
        color: color-mix(
            in oklch,
            var(--color-primary) var(--mix-40),
            var(--color-text-main)
        );
        background-color: var(--color-primary-soft);
        border-color: color-mix(
            in oklch,
            var(--color-primary) var(--mix-40),
            transparent
        );
    }

    .c-alert--large {
        flex-direction: column;
        padding-block: clamp(var(--space-xl), var(--vw-5), var(--space-3xl));
        padding-inline: var(--space-xl);
        text-align: center;
        border: var(--border-m) solid var(--color-success);
    }

    .c-alert__footer {
        inline-size: var(--size-full);
        padding-block-start: var(--space-xl);
        font-size: var(--text-md);
        border-block-start: var(--border-s) solid
            color-mix(
                in oklch,
                var(--color-text-main) var(--mix-10),
                transparent
            );
        opacity: var(--opacity-80);
    }
}
