@layer components {
    .c-avatar {
        flex-shrink: 0;
        max-inline-size: var(--size-full);
        object-fit: cover;
        border-radius: var(--radius-circle);
    }

    .c-avatar--xs {
        inline-size: var(--size-avatar-xs);
        block-size: var(--size-avatar-xs);
        border: var(--border-s) solid var(--color-border);
    }

    .c-avatar--sm {
        inline-size: var(--size-avatar-sm);
        block-size: var(--size-avatar-sm);
    }

    .c-avatar--md {
        inline-size: var(--size-avatar-md);
        block-size: var(--size-avatar-md);
    }

    .c-avatar--lg {
        inline-size: var(--size-avatar-lg);
        block-size: var(--size-avatar-lg);
        border: var(--space-xs) solid var(--color-bg-white);
        border-radius: var(--radius-xxl);
        box-shadow: var(--shadow-md);
    }

    .c-avatar--xl {
        inline-size: var(--size-avatar-xl);
        block-size: var(--size-avatar-xl);
        border: var(--border-xl) solid var(--color-bg-white);
        box-shadow: var(--shadow-md);
    }

    .c-avatar--role {
        padding: var(--space-s);
        object-fit: contain;
        background-color: var(--color-bg-white);
        border: var(--border-s) solid var(--color-border);
        border-radius: var(--radius-l);
    }

    .c-avatar--role-lg {
        inline-size: var(--size-avatar-lg);
        block-size: var(--size-avatar-lg);
        padding: var(--space-m);
        object-fit: contain;
        background-color: var(--color-bg-white);
        border: var(--border-s) solid var(--color-border);
        border-radius: var(--radius-l);
        box-shadow: var(--shadow-md);
    }

    .c-avatar-dropzone {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        inline-size: var(--size-avatar-md);
        block-size: var(--size-avatar-md);
        overflow: hidden;
        background-color: var(--color-bg-light);
        border-radius: var(--radius-circle);
    }

    .c-avatar-dropzone--large {
        inline-size: var(--size-avatar-xl);
        block-size: var(--size-avatar-xl);
    }

    .c-avatar-dropzone__img {
        inline-size: var(--size-full);
        block-size: var(--size-full);
        object-fit: cover;
    }
}
