@layer components {
    .c-avatar {
        border-radius: var(--radius-circle);
        object-fit: cover;
        flex-shrink: 0;
        max-inline-size: 100%;
    }

    .c-avatar--xs {
        inline-size: 1.75rem;
        block-size: 1.75rem;
        border: var(--border-s) solid var(--color-border);
    }

    .c-avatar--sm {
        inline-size: 2.375rem;
        block-size: 2.375rem;
    }

    .c-avatar--md {
        inline-size: 3.75rem;
        block-size: 3.75rem;
    }

    .c-avatar--lg {
        inline-size: 7.5rem;
        block-size: 7.5rem;
        border-radius: var(--radius-xxl);
        border: var(--space-xs) solid var(--color-bg-white);
        box-shadow: var(--shadow-md);
    }

    .c-avatar--xl {
        inline-size: 9.375rem;
        block-size: 9.375rem;
        border: var(--border-xl) solid var(--color-bg-white);
        box-shadow: var(--shadow-md);
    }

    .c-avatar--role {
        background-color: var(--color-bg-white);
        border-radius: var(--radius-l);
        border: var(--border-s) solid var(--color-border);
        padding: 0.3125rem;
        object-fit: contain;
    }

    .c-avatar--role-lg {
        background-color: var(--color-bg-white);
        border-radius: var(--radius-l);
        border: var(--border-s) solid var(--color-border);
        padding: 0.9375rem;
        object-fit: contain;
        inline-size: 7.5rem;
        block-size: 7.5rem;
        box-shadow: var(--shadow-md);
    }

    .c-avatar-dropzone {
        inline-size: 3.75rem;
        block-size: 3.75rem;
        border-radius: var(--radius-circle);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-bg-light);
        overflow: hidden;
        flex-shrink: 0;
    }

    .c-avatar-dropzone--large {
        inline-size: 9.375rem;
        block-size: 9.375rem;
    }

    .c-avatar-dropzone__img {
        inline-size: 100%;
        block-size: 100%;
        object-fit: cover;
    }
}
