@layer components {
    .c-avatar {
        border-radius: 50%;
        object-fit: cover;
        flex-shrink: 0;
        max-inline-size: 100%;
    }

    .c-avatar--xs {
        inline-size: 1.75rem; // 28px
        block-size: 1.75rem;
        border: 0.0625rem solid var(--color-border); // 1px
    }

    .c-avatar--sm {
        inline-size: 2.375rem; // 38px
        block-size: 2.375rem;
    }

    .c-avatar--md {
        inline-size: 3.75rem; // 60px
        block-size: 3.75rem;
    }

    .c-avatar--lg {
        inline-size: 7.5rem; // 120px
        block-size: 7.5rem;
        border-radius: 0.75rem; // 12px
        border: 0.25rem solid var(--color-bg-white); // 4px
        box-shadow: var(--shadow-md);
    }

    .c-avatar--xl {
        inline-size: 9.375rem; // 150px
        block-size: 9.375rem;
        border: 0.3125rem solid var(--color-bg-white); // 5px
        box-shadow: var(--shadow-md);
    }

    .c-avatar--role {
        background-color: var(--color-bg-white);
        border-radius: 0.5rem; // 8px
        border: 0.0625rem solid var(--color-border); // 1px
        padding: 0.3125rem; // 5px
        object-fit: contain;
    }

    .c-avatar--role-lg {
        background-color: var(--color-bg-white);
        border-radius: 0.5rem; // 8px
        border: 0.0625rem solid var(--color-border); // 1px
        padding: 0.9375rem; // 15px
        object-fit: contain;
        inline-size: 7.5rem; // 120px
        block-size: 7.5rem;
        box-shadow: var(--shadow-md);
    }

    .c-avatar-dropzone {
        inline-size: 3.75rem; // 60px
        block-size: 3.75rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-bg-light);
        overflow: hidden;
        flex-shrink: 0;
    }

    .c-avatar-dropzone--large {
        inline-size: 9.375rem; // 150px
        block-size: 9.375rem;
    }

    .c-avatar-dropzone__img {
        inline-size: 100%;
        block-size: 100%;
        object-fit: cover;
    }
}
