@layer components {
    .c-box {
        padding: var(--space-m);
        background-color: var(--color-bg-light);
        border: var(--border-s) solid var(--color-border);
        border-radius: var(--radius-l);
    }

    .c-box--subtle {
        background-color: color-mix(
            in oklch,
            var(--color-text-main) var(--mix-2),
            transparent
        );
        border-radius: var(--radius-xxl);
    }

    .c-box--highlight {
        background-color: var(--color-bg-white);
        border-inline-start: var(--space-xs) solid var(--color-primary);
    }

    .c-box--accent {
        background-color: color-mix(
            in oklch,
            var(--color-text-main) var(--mix-2),
            transparent
        );
        border-inline-start: var(--space-xs) solid var(--color-primary);
        border-radius: var(--radius-l);
    }

    .c-box--warning {
        color: color-mix(
            in oklch,
            var(--color-warning) var(--mix-40),
            var(--color-text-main)
        );
        background-color: var(--color-warning-soft);
        border-inline-start: var(--space-xs) solid var(--color-warning);
    }

    .c-box--danger-soft {
        padding: var(--space-s);
        font-weight: var(--font-weight-bold);
        color: color-mix(
            in oklch,
            var(--color-danger) var(--mix-20),
            var(--color-text-main)
        );
        background-color: var(--color-danger-soft);
        border-radius: var(--radius-s);
    }

    .c-box--danger-block-start {
        border-block-start-color: var(--color-danger-soft) !important;
    }

    .c-box--dashed {
        text-align: start;
        background-color: var(--color-bg-light);
        border: var(--border-s) dashed var(--color-border);
    }

    .c-qr-box {
        padding: var(--space-xs);
        background-color: var(--color-bg-white);
        border: var(--border-m) solid var(--color-border);
        border-radius: var(--radius-m);
    }

    .c-payment-gateway {
        min-block-size: var(--size-panel-sm);
    }
}
