@layer components {
    .c-card {
        background-color: var(--color-bg-white);
        border: 1px solid var(--color-border);
        border-radius: 16px;
        box-shadow: var(--shadow-md);
        overflow: hidden;
    }

    .c-card--primary {
        border-block-start: 5px solid var(--color-primary);
    }

    .c-card--success {
        border-block-start: 5px solid var(--color-success);
    }

    .c-card--warning {
        border-block-start: 5px solid var(--color-warning);
    }

    .c-card--danger {
        border-block-start: 5px solid var(--color-danger);
    }

    .c-card--dark {
        border-block-start: 5px solid var(--color-text-main);
    }

    .c-card--voucher {
        border-block-start: 5px solid #6366f1;
    }

    .c-card__header {
        padding: var(--space-l);
        border-block-end: 1px solid var(--color-border);
    }

    .c-card__body {
        padding: var(--space-l);
    }

    .c-card__body--xl {
        padding: var(--space-xl);
    }

    .c-card__footer {
        padding: var(--space-m);
        border-block-start: 1px solid var(--color-border);
        background-color: var(--color-bg-light);
    }

    /* Akkordeon-Karten für Benutzer- & Rollenverwaltung */
    .c-category-card {
        background-color: var(--color-bg-white);
        border: 1px solid var(--color-border);
        border-radius: 12px;

        &__header {
            padding: 12px 20px;
            background-color: color-mix(
                in oklch,
                var(--color-text-main) 2%,
                transparent
            );
            border-radius: 12px;
            transition: border-radius 0.2s;
        }

        &__body {
            background-color: var(--color-bg-light);
            padding: 20px;
            border-block-start: 1px solid var(--color-border);
            border-end-start-radius: 12px;
            border-end-end-radius: 12px;
        }

        &:not(.is-closed) &__header {
            border-end-start-radius: 0;
            border-end-end-radius: 0;
        }

        &.is-closed &__body {
            display: none;
        }
    }
}
