@layer components {
    .c-card {
        background-color: var(--color-bg-white);
        border: 1px solid var(--color-border);
        border-radius: 16px;
        box-shadow: var(--shadow-md);
        overflow: hidden;
    }

    .c-card--primary {
        border-block-start: 5px solid var(--color-primary);
    }

    .c-card--success {
        border-block-start: 5px solid var(--color-success);
    }

    .c-card__header {
        padding: var(--space-l);
        border-block-end: 1px solid var(--color-border);
    }

    .c-card__body {
        padding: var(--space-l);
    }

    .c-card__body--xl {
        padding: var(--space-xl);
    }

    .c-card__footer {
        padding: var(--space-m);
        border-block-start: 1px solid var(--color-border);
        background-color: var(--color-bg-light);
    }
}
