@use '../1-settings/z-index' as *;

@layer components {
    .c-control-bar-wrapper {
        display: flex;
        justify-content: center;
        inline-size: 100%;
    }

    .c-control-bar {
        background-color: var(--color-bg-white);
        border-radius: 0.75rem; // 12px
        border: 0.0625rem solid var(--color-border); // 1px
        display: inline-flex;
        flex-wrap: wrap;
        gap: var(--space-m);
        align-items: center;
        justify-content: center;
        padding-block: var(--space-s);
        padding-inline: var(--space-l);
        margin-block-end: var(--space-xl);
        inline-size: 100%;
        max-inline-size: var(--layout-max-width);
    }

    .c-control-bar__input {
        block-size: 2.125rem; // 34px
        border-radius: 0.375rem; // 6px
        padding-inline: var(--space-s);
        font-size: clamp(0.8rem, 1vw, 0.85rem);
        inline-size: auto;
        min-inline-size: 8.4375rem; // 135px
        border: 0.0625rem solid var(--color-border); // 1px
        background-color: var(--color-bg-light);
        color: var(--color-text-main);
        display: inline-block;
    }

    .c-control-bar__label {
        color: var(--color-text-muted);
        font-weight: 700;
        font-size: clamp(0.7rem, 1vw, 0.75rem);
        cursor: pointer;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        gap: var(--space-xs);
    }

    .c-control-bar__search {
        --c-input-pr: 2.625rem; // 42px
        --c-input-pl: 0.875rem; // 14px
        --c-input-radius: 1.875rem; // 30px
        --c-input-height: 2.375rem; // 38px

        position: relative;
        margin-inline-start: auto;
        flex-grow: 1;
    }

    .c-control-bar__search-icon {
        position: absolute;
        inset-inline-end: 0.9375rem; // 15px
        inset-block-start: 50%;
        translate: 0 -50%;
        pointer-events: none;
        z-index: z('control-bar-search');
        color: var(--color-text-muted);
    }
}
