@use '../1-settings/z-index' as *;
@use '../2-tools/mixins' as *;

@layer components {
    .c-control-bar-wrapper {
        display: flex;
        justify-content: center;
        inline-size: var(--size-full);
    }

    .c-control-bar {
        background-color: var(--color-bg-white);
        border-radius: var(--radius-xxl);
        border: var(--border-s) solid var(--color-border);
        display: inline-flex;
        flex-wrap: wrap;
        gap: var(--space-m);
        align-items: center;
        justify-content: center;
        padding-block: var(--space-s);
        padding-inline: var(--space-l);
        margin-block-end: var(--space-xl);
        inline-size: var(--size-full);
        max-inline-size: var(--layout-max-width);
    }

    .c-control-bar__input {
        block-size: var(--size-ui-sm);
        border-radius: var(--radius-m);
        padding-inline: var(--space-s);
        font-size: var(--text-sm);
        inline-size: var(--size-auto);
        min-inline-size: var(--size-panel-sm);
        border: var(--border-s) solid var(--color-border);
        background-color: var(--color-bg-light);
        color: var(--color-text-main);
        display: inline-block;
    }

    .c-control-bar__label {
        color: var(--color-text-muted);
        font-weight: var(--font-weight-bold);
        font-size: var(--text-xs);
        cursor: pointer;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        gap: var(--space-xs);
    }

    .c-control-bar__search {
        --c-input-pr: var(--size-ui-md);
        --c-input-pl: var(--space-m);
        --c-input-radius: var(--radius-pill);
        --c-input-height: var(--size-avatar-sm);

        position: relative;
        margin-inline-start: auto;
        flex-grow: 1;
    }

    .c-control-bar__search-icon {
        @include absolute-center-y;
        inset-inline-end: var(--space-m);
        pointer-events: none;
        z-index: z('control-bar-search');
        color: var(--color-text-muted);
    }
}
