@use '../1-settings/z-index' as *;

@layer components {
    .c-dropzone {
        --dropzone-border-color: transparent;
        --dropzone-bg: transparent;
        --overlay-opacity: 0;

        position: relative;
        border: var(--border-m) dashed var(--dropzone-border-color);
        background-color: var(--dropzone-bg);
        transition:
            background-color var(--time-fast) ease,
            border-color var(--time-fast) ease;
    }

    .c-dropzone--preview {
        --dropzone-border-color: var(--color-border);
        cursor: pointer;
    }

    .c-dropzone--preview:hover {
        --dropzone-border-color: var(--color-primary);
        --dropzone-bg: var(--color-bg-light);
    }

    .c-dropzone.is-dragover {
        --dropzone-bg: var(--color-primary-soft) !important;
        --dropzone-border-color: var(--color-primary) !important;
        --overlay-opacity: 1 !important;
    }

    .c-dropzone__overlay {
        position: absolute;
        inset: 0;
        background-color: color-mix(
            in oklch,
            var(--color-primary) 90%,
            transparent
        );
        color: var(--color-bg-white);
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: var(--text-sm);
        opacity: var(--overlay-opacity);
        transition: opacity var(--time-fast);
        pointer-events: none;
        z-index: z('dropzone-overlay');
        border-radius: inherit;
    }

    .c-dropzone__text {
        transition:
            font-size var(--time-fast),
            opacity var(--time-fast),
            color var(--time-fast);
    }

    .c-dropzone__text.is-filled {
        font-size: var(--text-xl);
        opacity: 1;
        color: var(--color-primary);
    }
}
