@layer components {
    .c-dropzone {
        position: relative;
        transition: all 0.2s ease;
        border: 2px dashed transparent;
    }

    .c-dropzone--preview {
        border-color: var(--color-border);
        cursor: pointer;
    }

    .c-dropzone--preview:hover {
        border-color: var(--color-primary);
        background-color: var(--color-bg-light);
    }

    .c-dropzone.is-dragover {
        background-color: var(--color-primary-soft) !important;
        border-color: var(--color-primary);
    }

    .c-dropzone.is-dragover .c-dropzone__overlay {
        opacity: 1;
    }

    .c-dropzone__overlay {
        position: absolute;
        inset: 0;
        background-color: color-mix(
            in oklch,
            var(--color-primary) 90%,
            transparent
        );
        color: var(--color-bg-white);
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 0.9rem;
        opacity: 0;
        transition: opacity 0.2s;
        pointer-events: none;
        z-index: 10;
        border-radius: inherit;
    }

    .js-preview-text.is-filled {
        font-size: 1.2rem;
        opacity: 1;
        color: var(--color-primary);
        transition: all 0.2s;
    }
}
