@use '../1-settings/z-index' as *;

@layer components {
    .c-fab-refresh {
        position: fixed;
        inset-block-end: var(--space-xl);
        inset-inline-end: var(--space-xl);
        background-color: var(--color-bg-white);
        color: var(--color-primary);
        border: var(--border-m) solid var(--color-primary);
        border-radius: var(--radius-pill);
        padding-inline: var(--space-l);
        block-size: var(--size-ui-lg);
        display: flex;
        align-items: center;
        gap: var(--space-m);
        font-weight: var(--font-weight-extrabold);
        font-size: var(--text-md);
        box-shadow: var(--shadow-lg);
        cursor: pointer;
        z-index: z('fab');
        will-change: translate, box-shadow;
        transition:
            translate var(--time-fast) var(--ease-base),
            background-color var(--time-fast) ease,
            box-shadow var(--time-fast) ease;
    }

    .c-fab-refresh:hover {
        translate: 0 calc(var(--border-l) * -1);
        background-color: var(--color-primary-soft);
        box-shadow: var(--shadow-xl);
    }
}
