@layer components {
    .c-icon {
        display: inline-block;
        inline-size: 1em;
        block-size: 1em;
        vertical-align: middle;
        margin-block-start: -0.125rem; // -2px
        object-fit: contain;
    }

    .c-icon--inline {
        inline-size: 1.125rem; // 18px
        block-size: 1.125rem;
        opacity: 0.7;
    }

    /* NEU: Ersetzt die Inline-Styles in den PHTML-Tabellen */
    .c-icon--sm {
        inline-size: 1.5rem; // 24px
        block-size: 1.5rem;
    }

    .c-icon--md {
        inline-size: 3rem; // 48px
        block-size: 3rem;
    }

    .c-icon--lg {
        inline-size: 4rem; // 64px
        block-size: 4rem;
    }

    .c-icon--xl {
        inline-size: 5rem; // 80px
        block-size: 5rem;
    }
}
