@layer components {
    .c-icon--inline {
        inline-size: 18px;
        block-size: 18px;
        vertical-align: middle;
        opacity: 0.7;
    }

    .c-icon--md {
        inline-size: 48px;
        block-size: 48px;
    }

    .c-icon--lg {
        inline-size: 64px;
        block-size: 64px;
    }

    .c-icon--xl {
        inline-size: 80px;
        block-size: 80px;
    }
}
