@layer components {
    .c-license-plate {
        font-size: 0.8rem;
        font-weight: 800;
        background-color: var(--color-bg-white);
        border: var(--border-s) solid var(--color-text-main);
        padding-block: 0.125rem;
        padding-inline: var(--space-s);
        border-radius: var(--radius-s);
        color: var(--color-text-main);
        display: inline-block;
        font-family: monospace;
        text-transform: uppercase;
    }
}
