@layer components {
    .c-license-plate {
        display: inline-block;
        padding-block: var(--border-m);
        padding-inline: var(--space-s);
        font-family: var(--font-mono);
        font-size: var(--text-sm);
        font-weight: var(--font-weight-extrabold);
        color: var(--color-text-main);
        text-transform: uppercase;
        background-color: var(--color-bg-white);
        border: var(--border-s) solid var(--color-text-main);
        border-radius: var(--radius-s);
    }
}
