@layer components {
    .c-logo {
        max-inline-size: 160px;
        max-block-size: 160px;
        object-fit: contain;
    }

    .c-logo--nav {
        max-inline-size: 40px;
        max-block-size: 40px;
    }
}
