@layer components {
    .c-logo {
        max-inline-size: var(--size-panel-xs);
        max-block-size: var(--size-panel-xs);
        object-fit: contain;
    }

    .c-logo--nav {
        max-inline-size: var(--size-ui-md);
        max-block-size: var(--size-ui-md);
    }
}
