@layer components {
    .c-modal {
        position: fixed;
        inset: 0;
        background-color: color-mix(
            in oklch,
            var(--color-text-main) 70%,
            transparent
        );
        z-index: 10000;
        display: none;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(2px);
        padding: 20px;
    }

    .c-modal__dialog {
        background-color: var(--color-bg-white);
        padding: 30px;
        text-align: center;
        max-inline-size: 400px;
        inline-size: 100%;
        border-block-start: 5px solid var(--color-warning);
        border-radius: 12px;
        box-shadow: 0 20px 25px -5px
            color-mix(in oklch, oklch(0 0 0) 20%, transparent);
        display: flex;
        flex-direction: column;
    }

    .c-modal__title {
        margin-block-start: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 1.25rem;
        font-weight: 700;
        color: var(--color-text-main);
    }
}
