@layer components {
    .c-pagination {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--space-m);
        background-color: var(--color-bg-light);
        border-block-start: 1px solid var(--color-border);
        flex-wrap: wrap;
        gap: 10px;
    }

    .c-pagination__info {
        color: var(--color-text-muted);
        font-size: 0.85rem;
    }

    .c-pagination__controls {
        display: flex;
        align-items: center;
        gap: var(--space-xs);
    }
}
