@layer components {
    .c-pagination {
        display: flex;
        flex-wrap: wrap;
        gap: var(--space-m);
        align-items: center;
        justify-content: space-between;
        padding: var(--space-m);
        background-color: var(--color-bg-light);
        border-block-start: var(--border-s) solid var(--color-border);
    }

    .c-pagination__info {
        font-size: var(--text-sm);
        color: var(--color-text-muted);
    }

    .c-pagination__controls {
        display: flex;
        gap: var(--space-xs);
        align-items: center;
    }
}
