@layer components {
    .c-stat-card {
        text-align: center;

        &__label {
            color: var(--color-text-muted);
            font-size: 0.75rem;
            font-weight: 700;
            text-transform: uppercase;
        }

        &__value {
            font-size: 2.2rem;
            font-weight: 700;
            margin-block-start: 5px;

            &--success {
                color: var(--color-success);
            }
            &--warning {
                color: var(--color-warning);
            }
            &--primary {
                color: var(--color-text-main);
            }
        }

        &__footer {
            display: flex;
            justify-content: center;
            gap: 5px;
            flex-wrap: wrap;
            align-items: center;
            margin-block-start: 10px;
        }
    }
}
