@use '../2-tools/mixins' as *;

@layer components {
    .c-theme-toggle {
        --toggle-icon-filter: none;

        @include button-reset;

        display: flex;
        gap: var(--space-s);
        align-items: center;
        padding-block: var(--space-xs);
        padding-inline: var(--space-m);
        font-size: var(--text-sm);
        font-weight: var(--font-weight-extrabold);
        color: var(--color-text-main);
        text-transform: uppercase;
        letter-spacing: var(--letter-spacing-wide);
        background-color: var(--color-bg-white);
        border: var(--border-s) solid var(--color-border);
        border-radius: var(--radius-pill);
        box-shadow: var(--shadow-sm);
        will-change:
            translate, box-shadow, background-color, border-color, color;

        @include transition-fast(
            background-color,
            color,
            border-color,
            translate,
            box-shadow
        );
        @include focus-ring;
    }

    .c-theme-toggle:hover {
        --toggle-icon-filter: brightness(0) invert(1);

        color: var(--color-bg-white);
        background-color: var(--color-primary);
        border-color: var(--color-primary);
        box-shadow: var(--shadow-md);
        translate: 0 calc(var(--border-s) * -1);
    }

    .c-theme-toggle__icon {
        @include transition-fast(filter);

        filter: var(--toggle-icon-filter);
    }
}
