@layer components {
    .c-print-toolbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--space-m);
        color: var(--color-bg-white);
        background-color: var(--color-text-main);
    }
}
