@layer elements {
    // Verhindert inkonsistente Browser-Styles bei nativen Interaktionselementen
    button {
        font-family: inherit;
    }

    dialog {
        max-inline-size: var(--size-full);
        max-block-size: var(--size-full);
        padding: 0;
        margin: auto;
        color: inherit;
        background-color: transparent;
        border: none;
    }

    dialog::backdrop {
        background-color: transparent;
    }
}
