@layer elements {
    body {
        margin: 0;
        font-family: var(--font-sans);
        line-height: var(--line-height-normal);
        color: var(--color-text-main);
        background-color: var(--color-bg-light);
    }
}
