@layer objects {
    .o-container {
        margin-inline: auto;
        inline-size: 100%;
    }

    .o-container--small {
        max-inline-size: 500px;
    }

    .o-container--medium {
        max-inline-size: 650px;
    }

    .o-container--large {
        max-inline-size: 750px;
    }
}
