@layer objects {
    .o-container {
        inline-size: var(--size-full);
        margin-inline: auto;
    }

    .o-container--small {
        max-inline-size: var(--size-panel-5xl);
    }

    .o-container--medium {
        max-inline-size: var(--size-panel-6xl);
    }

    .o-container--large {
        max-inline-size: var(--size-panel-7xl);
    }
}
