@layer objects {
    .o-grid {
        display: grid;
        gap: var(--space-m);

        &--2-cols {
            grid-template-columns: 1fr 1fr;
        }

        &--2-1 {
            grid-template-columns: 2fr 1fr;
        }

        &--auto-right {
            grid-template-columns: 1fr auto;
        }

        /* Flexibles Grid für Karten & Einstellungen (passt sich automatisch an) */
        &--auto-fit {
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        }
    }
}
